/* =================================================================
/* SECTION Brand Bar
================================================================= */
.ua_minerva .ua_brand-bar {
  font-size: var(--ua_font-size--small, 1rem);
  line-height: var(--ua_line-height--small, 1.5rem);
  color: white;
  background: var(--ua_color-text--link, #9e1b32);
}

.ua_minerva .ua_brand-bar_content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: var(--ua_layout-width--wide, 78rem);
  margin: auto;
}

.ua_minerva .ua_brand-bar_logo {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 20rem;
  max-width: 100%;
  padding: var(--ua_space--2, 1rem);
}

.ua_minerva .ua_brand-bar_logo img {
  width: 100%;
}

.ua_minerva a.ua_brand-bar_logo:hover,
.ua_minerva a.ua_brand-bar_logo:focus,
.ua_minerva a.ua_brand-bar_link:hover,
.ua_minerva a.ua_brand-bar_link:focus {
  background-color: var(--ua_color-text--link-hover, #821E2E);
}

.ua_minerva .ua_brand-bar_link {
  font-weight: var(--ua_weight--bold, 700);
  color: var(--ua_color-text--inverse, white);
  text-decoration: none;
  padding: var(--ua_space--2, 1rem);
}

/* !SECTION Brand Bar */
