/* ================================================================
/* SECTION Call to Action
================================================================= */
.ua_minerva .ua_cta {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: var(--ua_weight--bold, 700);
  box-sizing: border-box;
  display: inline-block;
  width: fit-content;
  max-width: fit-content;
  text-decoration: none;
  padding: var(--ua_space--inline-block-padding, 0.25em 0.75em);
  color: var(--ua_color-text--inverse, white);
  background-color: var(--ua_color-text--link, #9e1b32);
  border: 2px solid var(--ua_color-text--link, #9e1b32);
  flex-grow: 0;
  flex-basis: content;
}

.ua_minerva a.ua_cta:hover,
.ua_minerva a.ua_cta:focus {
  text-decoration: underline;
  background: var(--ua_color-text--link-hover, #821E2E);
  color: var(--ua_color-text--inverse, white);
  border-color: var(--ua_color-text--link-hover, #821E2E);
}

.ua_minerva .ua_cta.ua_cta--disabled {
  background-color: var(--ua_color-background--disabled, #c6cbd0);
  color: var(--ua_color-text--inverse, white);
  border-color: var(--ua_color-background--disabled, #c6cbd0);
}

.ua_minerva .ua_presence--subtle > .ua_cta {
  background: transparent;
  color: var(--ua_color-text--link, #9e1b32);
}

.ua_minerva .ua_presence--subtle > .ua_cta:hover,
.ua_minerva .ua_presence--subtle > .ua_cta:focus {
  background: transparent;
  color: var(--ua_color-text--link-hover, #821E2E);
}

.ua_minerva .ua_presence--subtle > .ua_cta.ua_cta--disabled {
  background: transparent;
  color: var(--ua_color-background--disabled, #c6cbd0);
}

.ua_minerva .ua_cta_wrapper.ua_width--full .ua_cta {
  flex-grow: 1;
}

.ua_minerva .ua_cta_list {
  display: flex;
  gap: var(--ua_space--flow-half, 1rem);
  flex-wrap: wrap;
}

/* !SECTION Call to Action */
