/* =================================================================
/* SECTION Card
================================================================= */
.ua_minerva .ua_card {
  font-size: var(--ua_font-size--normal, 1.25rem);
  line-height: var(--ua_line-height--small, 1.5rem);
  display: flex;
  flex-direction: column;
  position: relative;
  border: 3px solid transparent;
}

.ua_minerva .ua_presence--subtle > .ua_card {
  border: none;
}

.ua_minerva .ua_card > * + * {
  margin-top: var(--ua_space--flow-half, 1rem);
}

.ua_minerva .ua_card .ua_card_content-wrapper {
  background-color: var(--ua_color-background--element, #f2f3f4);
  padding: var(--ua_space--block-padding, 2rem);
  flex-grow: 1;
}

.ua_minerva .ua_card .ua_card_image-wrapper {
  order: -1;
  margin-block: 0;
}

.ua_minerva .ua_card div:first-child > * + * {
  margin-top: var(--ua_space--flow-half, 1rem);
}

.ua_minerva .ua_card img {
  width: 100%;
  object-fit: cover;
}

.ua_minerva .ua_card .ua_card_title {
  font-size: var(--ua_font-size--medium, 1.5rem);
  line-height: var(--ua_line-height--medium, 2rem);
  font-weight: var(--ua_weight--semibold, 600);
}

.ua_minerva .ua_card .ua_card_title a[href] {
  font-weight: inherit;
  color: var(--ua_color-text--default, #35363b);
  text-decoration: none;
}

.ua_minerva .ua_card .ua_card_title a[href]::before {
  content: "";
  position: absolute;
  inset: 0;
}

.ua_minerva .ua_card:hover .ua_card_title a[href],
.ua_minerva .ua_card:focus-within .ua_card_title a[href] {
  color: var(--ua_color-text--link, #9e1b32);
  text-decoration: underline;
}

.ua_minerva .ua_card:has(.ua_card_title a[href]):hover {
  border: 3px solid var(--ua_color-text--link, #9e1b32);
}

.ua_minerva .ua_presence--subtle > .ua_card:has(.ua_card_title a[href]):hover {
  border: none;
}

.ua_minerva .ua_card_subtitle {
  font-size: var(--ua_font-size--xsmall, 0.75rem);
  line-height: var(--ua_line-height--xsmall, 1rem);
  font-family: var(--ua_font--accent, proxima-nova-condensed, sans-serif);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-block-start: 0;
  line-height: 1em;
}

.ua_minerva .ua_card--landscape .ua_card_content-wrapper {
  flex-basis: 66%;
}

.ua_minerva .ua_card--landscape .ua_card_image-wrapper {
  flex-basis: 33%;
}

.ua_minerva .ua_presence--subtle > .ua_card .ua_card_image-wrapper {
  max-width: 100%;
  margin: 0;
  margin-block-end: var(--ua_space--flow, 2rem);
}

.ua_minerva .ua_presence--subtle > .ua_card .ua_card_content-wrapper {
  background-color: transparent;
  padding: 0;
}

@media (min-width: 58rem) {
  .ua_minerva .ua_card--landscape {
    flex-direction: row;
  }
  .ua_minerva .ua_presence--subtle > .ua_card--landscape .ua_card_image-wrapper {
    margin-inline-end: var(--ua_space--flow, 2rem);
    margin-block-end: 0;
  }
  .ua_minerva .ua_card--landscape > .ua_card_image-wrapper img {
    height: 100%;
  }
}
/* !SECTION Card */
