/* =================================================================
/* SECTION EventFeed
================================================================= */
.ua_minerva .ua_event--empty {
  padding: var(--ua_space--flow-double, 4rem);
  background-color: var(--ua_color-background--element, #f2f3f4);
}

.ua_minerva .ua_event--empty .ua_event_name {
  font-size: var(--ua_font-size--medium, 1.5rem);
  line-height: var(--ua_line-height--medium, 2rem);
  font-weight: var(--ua_weight--bold, 700);
}

.ua_minerva .ua_event--empty p {
  margin-block: var(--ua_space--flow-half, 1rem);
}

/* !SECTION EventFeed */
