/* =================================================================
/* SECTION Layout Grid
================================================================= */
.ua_minerva .ua_layout--grid {
  --grid-column-count: 6;
  --grid-gap--width: space("gap");
  --grid-gap--count: calc(var(--grid-column-count) - 1);
  --grid-gap--total: calc(var(--grid-gap--count) * var(--grid-gap--width));
  --grid-item--min-width: 250px;
  --grid-item--max-width: calc((100% - var(--grid-gap--total)) / var(--grid-column-count));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
}

.ua_minerva .ua_layout--grid > div > * + *,
.ua_minerva .ua_layout--grid > li > * + * {
  margin-block-start: space("flow");
}

/* ==================================================================
 * SECTION Component wrapper
 * Stabilize height of components that are side-by-side
================================================================== */
.ua_minerva .ua_layout--grid > div > .ua_component_wrapper:only-child,
.ua_minerva .ua_layout--grid > li > .ua_component_wrapper:only-child {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.ua_minerva .ua_layout--grid > div > .ua_component_wrapper:only-child > *,
.ua_minerva .ua_layout--grid > li > .ua_component_wrapper:only-child > * {
  flex: 1;
}

/* !SECTION Component wrapper */
/* !SECTION Layout Grid */
