.ua_minerva .ua_pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ua_minerva .ua_pagination div {
  display: flex;
  align-items: center;
}

.ua_minerva .ua_pagination div * {
  margin: 0 var(--ua_space--05, 0.25rem);
}

.ua_minerva .ua_pagination select {
  width: min-content;
}

.ua_minerva .ua_pagination ul {
  padding: 0;
  display: flex;
  list-style-type: none;
}

.ua_minerva .ua_pagination button * {
  pointer-events: none;
}
