/* =================================================================
/* SECTION SiteFooter
================================================================= */
.ua_minerva .ua_site-footer h1 {
  font-size: var(--ua_font-size--large, 1.75rem);
  line-height: var(--ua_line-height--large, 2.25rem);
  letter-spacing: -0.01em;
}

.ua_minerva .ua_site-footer h2 {
  font-size: var(--ua_font-size--medium, 1.5rem);
  line-height: var(--ua_line-height--medium, 2rem);
}

.ua_minerva .ua_site-footer h3 {
  font-size: var(--ua_font-size--normal, 1.25rem);
  line-height: var(--ua_line-height--normal, 2rem);
}

.ua_minerva .ua_site-footer h4,
.ua_minerva .ua_site-footer h5,
.ua_minerva .ua_site-footer h6,
.ua_minerva .ua_site-footer p,
.ua_minerva .ua_site-footer li {
  font-size: var(--ua_font-size--small, 1rem);
  line-height: var(--ua_line-height--small, 1.5rem);
}

.ua_minerva .ua_site-footer h1,
.ua_minerva .ua_site-footer h2,
.ua_minerva .ua_site-footer h3,
.ua_minerva .ua_site-footer h4,
.ua_minerva .ua_site-footer h5,
.ua_minerva .ua_site-footer h6 {
  font-family: var(--ua_font--heading, proxima-nova, sans-serif);
}

.ua_minerva .ua_site-footer h1,
.ua_minerva .ua_site-footer h2,
.ua_minerva .ua_site-footer h3,
.ua_minerva .ua_site-footer h4 {
  font-weight: var(--ua_weight--bold, 700);
}

.ua_minerva .ua_site-footer {
  background: var(--ua_color-background--element, #f2f3f4);
  border-top: 3px solid var(--ua_color-accent--primary, #9e1b32);
}

.ua_minerva .ua_site-footer_container {
  --ua_space--flow: var(--ua_space--flow-half);
  box-sizing: border-box;
  display: grid;
  width: 100%;
  max-width: var(--ua_layout-width--wide, 78rem);
  margin: auto;
  position: relative;
  padding: var(--ua_space--flow-double, 4rem) var(--ua_space--gutter, 1rem);
}

.ua_minerva .ua_site-footer_logos {
  display: grid;
  gap: var(--ua_space--flow-half, 1rem);
  grid-template-columns: 3fr 1fr;
  position: relative;
  place-content: end;
  place-items: end;
}

.ua_minerva .ua_site-footer .ua_site-footer_ua-systems {
  margin-bottom: calc(var(--ua_space--flow, 2rem) * -1);
  max-width: 15rem;
}

.ua_minerva .ua_site-footer .ua_site-footer_denny-chimes {
  margin-bottom: calc(var(--ua_space--flow-double, 4rem) * -1);
  max-width: 3rem;
}

@media (min-width: 40em) {
  .ua_minerva .ua_site-footer_container {
    grid-template-columns: 3fr 1fr;
    gap: var(--ua_space--flow-half, 1rem);
  }
}
/* !SECTION SiteFooter */
