/* =================================================================
/* SECTION TitleBar
================================================================= */
.ua_minerva .ua_title-bar {
  background: var(--ua_color-background--element, #f2f3f4);
  border-bottom: var(--ua_border--standard, 1px solid var(--ua_color-background--chip, #dfe2e5));
}

.ua_minerva .ua_title-bar_content {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--ua_layout-width--wide, 78rem);
  margin: auto;
  padding: var(--ua_space--flow-half, 1rem) var(--ua_space--gutter, 1rem);
  gap: var(--ua_space--flow-half, 1rem);
}

.ua_minerva .ua_title-bar_title-group {
  flex: 1 1 50%;
}

.ua_minerva a.ua_title-bar_name {
  font-size: var(--ua_font-size--medium, 1.5rem);
  line-height: var(--ua_line-height--medium, 2rem);
  font-weight: var(--ua_weight--semibold, 600);
  color: var(--ua_color-text--default, #35363b);
  text-decoration: none;
  display: block;
}

.ua_minerva .ua_title-bar_subtitle {
  font-size: var(--ua_font-size--normal, 1.25rem);
  line-height: var(--ua_line-height--small, 1.5rem);
  color: var(--ua_color-text--default, #35363b);
  text-decoration-thickness: 2px;
  text-decoration: none;
}

.ua_minerva .ua_title-bar_search {
  display: flex;
  width: 100%;
}

.ua_minerva a.ua_title-bar_subtitle:hover,
.ua_minerva a.ua_title-bar_subtitle:focus,
.ua_minerva a.ua_title-bar_name:hover,
.ua_minerva a.ua_title-bar_name:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media (scripting: enabled) {
  .ua_title-bar .ua_primary-navigation,
  .ua_title-bar .ua_title-bar_search {
    display: none;
  }
  .ua_minerva .ua_title-bar .ua_primary-navigation[aria-hidden=false] {
    display: block;
  }
  .ua_minerva .ua_title-bar .ua_title-bar_search[aria-hidden=false] {
    display: flex;
  }
}
.ua_minerva .ua_title-bar .ua_title-bar_expander {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  background: none;
  border: none;
}

.ua_minerva .ua_title-bar_expander_open,
.ua_minerva .ua_title-bar_expander_closed {
  flex-grow: 1;
  pointer-events: none;
  text-align: center;
}

.ua_minerva .ua_title-bar_expander_open[aria-hidden=true],
.ua_minerva .ua_title-bar_expander_closed[aria-hidden=true] {
  height: 0;
  visibility: hidden;
}

.ua_minerva .ua_title-bar_search input,
.ua_minerva .ua_title-bar_search button {
  font-size: var(--ua_font-size--small, 1rem);
  line-height: var(--ua_line-height--small, 1.5rem);
}

.ua_minerva > .ua_title-bar_search > button.ua_button {
  width: initial;
}

@media (min-width: 58rem) {
  .ua_minerva .ua_title-bar {
    background: none;
  }
  .ua_minerva .ua_title-bar .ua_title-bar_expander {
    display: none;
  }
  .ua_minerva .ua_title-bar_search {
    width: auto;
  }
}
/* !SECTION TitleBar */
